{% extends 'mysite/base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 font-italic border-bottom">Django Lesson</h3>
            
                {% for obj in page_obj %}

                <div class="blog-post">     
                    <h2 class="blog-post-title">{{ obj.title }}</h2>
                    <p class="blog-post-meta">{{ obj.created_at }}<a href="#"> by {{ obj.author }}</a></p>
                    <p>{{ obj.text }}</p>
                    <a href="/blog/{{ obj.id }}" class="">read more...</a>
                    <hr>
                </div>

                {% endfor %}

                <nav class="blog-pagination">
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a class="btn btn-outline-primary" href="?page=1">&laquo; first</a>
                                <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            
                            {% if page_obj.has_next %}
                                <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                
                    <a class="btn btn-outline-primary" href="#">Old articles</a>
                    <a class="btn btn-outline-secondary disabled" href="#">New articles</a>
                </nav>
            </div>
            <aside class="col-md-4">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">About us</h4>
                    <p class="mb-0">Welcome our really site</p>
                </div>
            </aside>
        </div>
    </main>
{% endblock content %}