{% extends 'mysite/base.html' %}


{% block content %}
    <div class="container">
        <header class="py-3">
            <div class="row flex-nowrap justify-content-center align-items-center">
                <div class="col-4 text-center">
                    <h1 class="display-4 font-italic">Really Site</h1>
                </div>
            </div>
        </header>

        <div class="py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary" href="#">Blog</a>
                <a class="p-2 link-secondary" href="#">Contact</a>
                <a class="p-2 link-secondary" href="#">Menu</a>
            </nav>
        </div>
        <div class="p-4 p-md-5 mb-4 rounded bg-warning">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Django lessons</h1>
                <p class="lead my-3">Write sentence</p>
                <p class="lead mb-0"><a class="font-weight-bold" href="#">more...</a></p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Django</strong>
                        <h3 class="mb-0">Popular Articles</h3>
                        <div class="mb-1 text-muted">11/12</div>
                        <p class="card-text mb-auto">Write sentence</p>
                        <a href="#" class="streched-link">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Django</strong>
                        <h3 class="mb-0">Popular Articles</h3>
                        <div class="mb-1 text-muted">11/12</div>
                        <p class="card-text mb-auto">Write sentence</p>
                        <a href="#" class="streched-link">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 font-italic border-bottom">Django Lesson</h3>
            </div>
        </div>
    </main>
{% endblock content %}