{% extends 'mysite/base.html' %}

{% block content %}
    <div class="container">
        <div class="p-4 p-md-5 mb-4 rounded bg-warning">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Django lessons</h1>
                <p class="lead my-3">Write sentence</p>
                <p class="lead mb-0"><a class="font-weight-bold" href="#">more...</a></p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Django</strong>
                        <h3 class="mb-0">Popular Articles</h3>
                        <div class="mb-1 text-muted">11/12</div>
                        <p class="card-text mb-auto">Write sentence</p>
                        <a href="#" class="stretched-link">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Django</strong>
                        <h3 class="mb-0">Popular Articles</h3>
                        <div class="mb-1 text-muted">11/12</div>
                        <p class="card-text mb-auto">Write sentence</p>
                        <a href="#" class="streched-link">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 font-italic border-bottom">Django Lesson</h3>
            </div>

            {% for obj in articles %}

            <div class="blog-post">
                <h2 class="blog-post-title">{{ obj.title }}</h2>
                <p class="blog-post-meta">{{ obj.created_at }}<a href="#"> by {{ obj.author }}</a></p>
                <p>{{ obj.text }}</p>
            </div>

            {% endfor %}

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Old articles</a>
                <a class="btn btn-outline-secondary disabled" href="#">New articles</a>
            </nav>
        </div>
        <aside class="col-md-4">
            <h4 class="font-italic">About us</h4>
            <p class="mb-0">Welcome our really site</p>
        </aside>
    </main>
{% endblock content %}