{% extends 'mysite/base.html' %}


{% block contents %}
<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 font-italic border-bottom">My page</h3>

            <form class="row g-3" action="">
                <div class="col-12">
                    <label class="form-label">Publicity Name</label>
                    <input type="text" class="form-control" id="id_pubname" placeholder="John">
                </div>

                <div class="col-md-2">
                    <label class="form-label">Zip code</label>
                    <input type="text" class="form-control" id="id_zip" name="zipcode">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Prefecture</label>
                    <input type="text" class="form-select" id="id_prefecture" name="prefecture">
                        <option selected>chose...</option>
                        <option>....</option>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock contents %}