{% extends 'mysite/base.html' %}


{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 font-italic border-bottom">My page</h3>

            <form class="row g-3" action="" method="POST">
                {% csrf_token %}

                <div class="col-12">
                    <label class="form-label">Publicity Name</label>
                    <input type="text" class="form-control" id="id_pubname" placeholder="John">
                </div>

                <div class="col-md-2">
                    <label class="form-label">Zip code</label>
                    <input type="text" class="form-control" id="id_zip" name="zipcode">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Prefecture</label>
                    <select name="prefecture" id="id_prefecture">
                        <option selected>chose...</option>
                        <option>....</option>
                    </select>                       
                </div>

                <div class="col-md-6">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" id="id_city" name="city" placeholder="">
                </div>

                <div class="col-12">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" id="id_address" name="address" placeholder="">
                </div>

                <div class="col-12">
                    <button class="btn btn-success" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}